---
---

<section class="splash-screen" id="Splash">
  <picture>
    <source srcset="/logo@4x.png" media="(min-width:1921px)" />
    <source srcset="/logo@3x.png" media="(min-width:1024px)" />
    <source srcset="/logo@2x.png" media="(min-width:768px)" />
    <img src="/logo.png" alt="Logo" />
  </picture>
</section>
<style is:inline>
  .splash-screen {
    width: 100vw;
    height: 100vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
    animation: fade 0.8s 3s forwards;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    display: none;
    background-color: var(--body-bg);
  }
  .splash-screen picture {
    width: 60%;
  }
  @media screen and (min-width: 768px) {
    picture {
      width: 50%;
    }
  }
  @media screen and (min-width: 1024px) {
    picture {
      max-width: 27.08333333333333vw;
    }
  }
  .splash-screen.fade {
  }
  @keyframes fade {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  @media (orientation: portrait) {
    .splash-screen {
      padding-bottom: 4em;
    }
  }
</style>
<script></script>
